* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d6d5c9;
}

header {
  background-color: #b9baa3;
}

nav ul {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

nav ul li {
  list-style-type: none;
  width: 150px;
  float: right;
  text-align: center;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a,
a:link,
a:visited {
  color: #000;
  font-weight: 600;
}

a:hover {
  color: #902923;
}
.header-ul ul li {
  width: 150px;
  float: left;
}

.header-ul li a {
  text-decoration: none;
  display: inline;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.content {
  display: flex;
}
.content .div1 {
  flex: 1;
  margin: 15px 30px;
}

.content .div2 {
  flex: 1;
  margin: 15px 30px;
}

.presentation {
  font-size: 17px;
}

.skills li {
  margin: 10px;
}
